<link rel='stylesheet' href='/stylesheets/webapps.css' />

<div class="webapps_top">
</div>

<div class="mainContainer" style="position:relative; padding-bottom: 30px;" align="center">

<div style="    max-width: 1220px;    " >
    <div class="mainTitle" >Apps</div>

<div style="padding-top: 20px;" >
     <!-- <div class="mainTitleSmall" > Overview </div> -->
       <div class="webapps_banner" style="background-image: url('/images/together.png');" ></div>
    
        <div style="padding: 24px; min-height: 100px;  background-color: #f5f5f5cc; margin-top: 10px;" >
            aaa as  as as  as as as as as as adsdsdsd sd 
            sdsdsds sd sd sdsdsdsdfwefwef wefwef wef wef wefwef
            wefwefwef eef wef wef wefwefwefwef wefwefwefwef 
            </div>
   
</div>


<div style="padding-top: 60px;" >
   <div class="mainTitleSmall" >Web Apps</div>
   <div>asadasdas asd as das dasdasd asd asdasdasd 
       asdasdasdasdasd
   </div>
<iframe src="https://underarmourteamuniforms.com/builder" class="webappsIframe"></iframe>

</div>



<div style="padding-top: 60px;" >
   <div class="mainTitleSmall" >Internal Data Managment Solutions </div>
        <div style="display:flex;">
                  <div class="main_img" style="background-image: url('/images/owlB.jpg'); height: 300px;" ></div>
        <div class="main_txt" >
            aaa as  as as  as as as as as as adsdsdsd sd 
            sdsdsds sd sd sdsdsdsdfwefwef wefwef wef wef wefwef
            wefwefwef eef wef wef wefwefwefwef wefwefwefwef 
            </div>
  
    </div>
</div>




















{{> copyright}}

</div>
