<link rel='stylesheet' href='/stylesheets/home.css' />

<!--  <div style="height:300px; position: relative;" > -->
<div class="home_top"></div>

<div class="homeBoxBg" >

<div class="homeBoxTop">

  <a class="homeBoxTopIn" style="background-image: url('/images/webint.jpeg')" >
    <div class="homeInTitle"></div>
    <div class="homeInBottom">
     
      <div>
        12+ years of experience in integrating businesses to the web.
      </div>
    </div>
  </a>
  <div class="homeBoxTopIn" style="">
    <pix3d-root pathData="/pix3d/assets/" nameData="tree" typeData="0"></pix3d-root> 
    <div class="webglSvg homeWebgl"></div>
  </div>
  <a  href="/webapps" class="homeBoxTopIn" style="background-image: url('/images/planningB.jpeg')">
    <div class="homeInTitle"></div>
    <div class="homeInBottom">
  
      <div>c</div>
    </div>
  </a>

</div>




<div class="homeBoxBot" align="center" >


<div class="homeBoxBotCon" >

<div class="homebotinfoCon">   
<div class="homebotinfo">
<div class="homebotTitle" >Services Offered</div>
<ul style="line-height: 25px;" >
<li>Web Apps</li>
<li>B2B and C2B websites</li>
<li>Mobile Apps</li>
<li>Data Management Applications</li>
<li>Workflow Automation</li>
</ul>

</div>

<div style="width: 5px; flex: 0 1 auto; background-color: #cccccc; margin: 10PX;"></div>

<div class="homebotinfo">
<div class="homebotTitle" >Skill Sets</div>
<ul style="line-height: 25px;" >
<li>Web Apps</li>
<li>B2B and C2B websites</li>
<li>Mobile Apps</li>
<li>Data Management Applications</li>
<li>Workflow Automation</li>
</ul>
</div>

</div>

</div>

   {{> copyright}}
</div>

</div>

<script type="text/javascript" src="/pix3d/runtime.a66f828dca56eeb90e02.js"></script>
<script type="text/javascript" src="/pix3d/polyfills.2f5aa8fb3d2aea854d83.js"></script>
<script type="text/javascript" src="/pix3d/main.7174190474cae3e4734d.js"></script>



<!-- 
<div class="homeBox">


  {{#each model.arr}}
  <div class="homeBoxIn ">
    <div class="homeItemTitle">{{title}}</div>

    {{#each this.subarr}}
    <div class="homeItemBox">right</div>
    {{/each}}

  </div>
  {{/each}}



</div>
-->
<!-- </div> -->