.webapps_top {
    height: 120px;
}

.webapps_banner {
    height: 240px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.webappsIframe {
    width: 100%;
    height: 700px;
    border: none;
    background-color: #f3f3f3;

}